/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .card {
    background: #1f1f1f;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .card-description {
    font-size: 0.9rem;
    padding: 0 10px;
  }
  
  .card-price {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  /* Estilos del modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background: #222;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    color: white;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .modal-header h3 {
    font-size: 2rem;
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
  }
  
  .close-btn {
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #f00;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .modal-body p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  ul li strong {
    color: #ff6347;
  }
  
  /* Responsivo para pantallas más pequeñas */
  @media (max-width: 600px) {
    .modal-content {
      width: 90%;
      padding: 15px;
    }
  
    .modal-header h3 {
      font-size: 1.5rem;
    }
  
    .card {
      width: 100%;
    }
  }
  